# Server
PORT=5000
MONGO_URI=mongodb://localhost:27017/focusly
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_URL=http://localhost:5173

# Client (in client/.env)
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
